.carousel-container {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the entire container */
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1); /* Invert the color to make icons dark */
}


.carousel-slide .img {
  max-height: 100px;
}

.carousel-item img {
  height: 60vh;

}


.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Each column is at least 300px wide */
  grid-gap: 20px; /* Gap between the grid items */
  justify-content: center; /* Center the grid items horizontally */
  padding: 20px; /* Add some padding around the grid */
}


.card-img-cover {
  background-size: cover;
  background-position: center;
  height: 200px; /* You can adjust the height according to your design */
  width: 100%; /* Ensure the image covers the entire width of the parent element */
}


.box:hover {
  box-shadow: 2px 5px 8px white;
}



/* App.css or in a <style> tag in your component */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff; /* Set your desired background color */
  border-bottom: 1px solid #ccc; /* Optional: Add a border at the bottom for separation */
}
